.idea/workspace.xml
.idea/vcs.xml
.idea/modules/support-util_test.iml
.idea/modules/support-util_main.iml
.idea/modules/support-util.iml
.idea/modules.xml
.idea/misc.xml
.idea/libraries/Gradle__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Gradle__junit_junit_4_12.xml
.idea/compiler.xml
.idea/.name
.gradle/vcsWorkingDirs/gc.properties
.gradle/4.7/fileHashes/fileHashes.lock
.gradle/4.7/fileHashes/fileHashes.bin
.gradle/4.7/fileChanges/last-build.bin
